* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.header__inner {
    padding: 20px 0;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.header__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
    color: #22262A;
}

.menu__list {
    display: flex;
    list-style-type: none;
    text-align: center;
}

.menu__link {
    margin-left: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #22262A;

}

.fas, .far {
    font-weight: 100;
}

.far {
    margin: 0 20px;
}

#hero {
    background: url("../image/backround/1 1.png");
    min-height: 745px;
}

.hero__item {
    position: relative;
    min-height: 745px;
}

.hero__item-content {
    position: absolute;
    width: 450px;
    bottom: 100px;
    right: 70px;
}

.hero__desc {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #22262A;
}

.hero__title {
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 120px;
    color: #22262A;
}

.hero__link {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    padding: 4px 29px;
    display: inline-block;
    margin-top: 20px;
    background: #22262A;
}

#category {
    padding-top: 123px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;
}

.col-6 {
    width: 50%;
    padding: 0 18px;
}

.category__img-man {
    width: 100%;
}

.femaly__img-row {
    display: flex;
    margin: 20px -12px 0 -12px;
}

.femaly__img-col-6 {
    width: 50%;
    padding: 0 12px;
}

.category__img-bg {
    background: #00000050 url("../image/backround/5.png");
    background-blend-mode: darken;
    min-height: 574px;
    position: relative;
}

.category__name {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #22262A;
    background: #FFFFFF;
    padding: 5px 25px;
    bottom: 25px;
    left: 28px;
    position: absolute;
}

.catolog__row {
    width: 100%;
    display: flex;
}

.col-3 {
    width: 25%;
    padding: 0 25px;
}

.catolog__title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #22262A;
    display: block;
    margin-top: 111px;
    margin-bottom: 15px;
}

.catolog__desc {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 65px;
    text-align: center;
    color: #22262A;
}

.catolog__price {
    display: flex;
    justify-content: space-between;
    width: 145px;
}

.price {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;
}

.old {
    text-decoration: line-through;
}

.new {
    color: red;
}


.catolog__img-women {
    width: 100%;
    margin-top: 146px;
}

.women__img-right-item {
    width: 100%;
}

.layer__style {
    position: relative;
    min-height: 300px;
    margin-top: 46px;
}
.style__img-layer {
    position: absolute;
    right: -38px;
    top: -100px;
    padding: 20px 0 0 20px;
    background: #FFFFFF;
}

.style__link {
    position: absolute;
    bottom: 140px;
    left: 116px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    text-align: right;
    color: #22262A;
}
#tachen {
    min-height: 745px;
    margin-top: 121px;
    background: url("../image/backround/17 1.png") right center/ cover no-repeat;
}

.tachen__item {
    position: relative;
}

.tachen__item-content {
    position: absolute;
    top: 400px;
    left: 69px;
}

#inforamation {
    margin-top: 115px;
}

.info__title {
    display: flex;
    margin-bottom: 15px;
    background: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    color: #22262A;
}
.info__desc {
    display: block;
    width: 406px;
    margin-bottom: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;
}
.info__address {
    margin-bottom: 41px;
}

.fa-shopping-cart {
    margin-left: 10px;
}

.address {
    margin-bottom: 16px;
    font-style: normal;
    font-weight: normal;
    margin-left: 25px;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;
}

.info__email {
    display: block;
    width: 236px;
    margin-bottom: 7px;
    border-bottom: 1px solid #000000;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;
}

.info__number{
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;
}

.icon__info {
    width: 110px;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.email__title {
    display: flex;
    margin-bottom: 15px;
    background: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    color: #22262A;
}

input {
    width: 100%;
    height: 45px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #c6bbb6;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;
}

button {
    margin: -45px;
    border: none;
    background: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;
}

.menu {
    display: flex;
    margin-bottom: 30px;
}

.menu__shop {
    margin-top: 80px;
    list-style-type: none;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #22262A;

}

.menu__help {
    margin-left: 70px;
    margin-top: 80px;
    list-style-type: none;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #22262A;
}

.menu__about {
    margin-left: 88px;
    margin-top: 80px;
    list-style-type: none;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #22262A;
}

.menu__item {
    margin-bottom: 20px;
    margin-top: 27px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;
}

.footer__text {
    display: block;
    padding: 35px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;
}
